

body { background: #eee; font-family: Helvetica Neue, Helvetica, Arial, Sans-serif; }
textarea{ font-family: Helvetica Neue, Helvetica, Arial, Sans-serif; }

/* Remove Click Outline on iOS */

-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

.cart h2 {display: none; }

.cart ul { border: 1px solid #ccc; }

.cart .product { background: #fff; padding: 20px; text-align: center; border-bottom: 1px solid #ccc; }

.product .price-name { display: block; width: 100%; }

.product .price-name h6 { font-size: 1.25em; font-weight: bold; }

.product .price-name h6.price { float: right; color: green; }

.product .price-name h6.name { float: left;  }

.cart .product:last-child { border-bottom: none; } 

.product .image-quantity { padding: 5px 0 ; display: block; }

.image-quantity .product-image {  float: left; }

.product .set-quantity { float: right;}

.product .product-image img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.product .set-quantity { margin-top: 18px; }

.product .set-quantity span {
    display: inline-block;
    padding: 0 15px;
    font-size: 3em;
    float: left;
    margin-top: 0px;
}

.product .product-details { clear: both; text-align: center; margin-top: 5px; }

.order i { display: inline-block; font-size: 3em; margin-top: 5px; float: left; }

.order:hover { cursor: pointer; }

.order.remove { color: red; }
.order.remove:hover { color: firebrick; }

.order.add { color: forestgreen; }
.order.add:hover { color: green; }

.product .price-name { display: inline-block;  margin-bottom: 5px; }


.product .product-details p { margin-top: 5px; }

#footer.footer .total.group > p { line-height: 1; margin-bottom: 0px; }
