#footer {
    bottom: 0;
    padding: 5px 10px 10px;
}

#footer .total { margin-bottom: 10px; }

#footer .total p {
    color: limegreen;
    margin-top: 10px;
    font-size: 1.25em;
    float: left;
    line-height: 1;
    margin-bottom: 0px;
}

.bottles { float: left; margin: 13px 0 0 15px; }

.bottles i { color: #fff; font-size: 1.1em; }

