.fixed-bar {
    background: #333;
    position: fixed;
    left: 0;
    right: 0;
    padding: 15px 10px;
}

#header {
    top: 0;
}

#header.fixed-bar .ib-brand a {
    font-size: 1.5em;
    line-height: 1.0em;
}

.ib-brand .red { color: red; }
