#landing {
    z-index: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1550px 1130px;
    background-image: url('/images/liquor-bottles.jpg');
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, .9);
}

.ib-brand a {
    color: #fff;
    text-shadow: 1px 1px 0px #000;
    text-decoration: none;
    font-family: 'museo500';
    font-size: 1em;
}

#landing h2 {
    font-size: 1.4em;
    line-height: 1.4em;
    padding: 2.2em 0;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .9);
}

#landing a.greenbutton { margin-bottom:25%; white-space: normal; }

.outer-wrapper {
    z-index: 1;
    position: relative;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
}
.inner {
    display: table-cell;
    /* text-align: center; */
    vertical-align: middle;
    padding: 10%;
}

#landing {
    background-size: cover;
}

@media screen and (max-width: 319px) {
    #landing .ib-brand a {
        font-size: 2em;
    }
}


@media screen and (min-width: 320px) {

    #landing .ib-brand a {
        font-size: 2.6em;
    }

    .inner {

        padding: 5%;
    }

}

@media screen and (min-width: 480px) {

    #landing .ib-brand a {
        font-size: 3.2em;
    }

}

@media screen and (min-width: 768px) {

    #landing .ib-brand a {
        font-size: 4em;
    }

}


